.menuBase {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    background: rgba(10, 10, 10, 0.31);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
    animation: show 0.5s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gainsboro;
    font-family: sans-serif;
}

.imageAnimation, .imageAnimation > img{
    position: absolute;
    z-index: 2;
    transition: 2s;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.menu {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 4;
    border-radius: 13px 0 0 0;
    background: rgba(13, 13, 13, 0.523);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 13px;
}

.menu > button {
    color: gainsboro;
    font-size: 21px;
    background: none;
    border: none;
    margin: 8px;
    margin-left: 13px;
}

.logo {
    position: absolute;
    z-index: 4;
    left: 0;
    bottom: 0;
    max-width: 500px;
}

.loading-icon {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 8px solid #ffffff79;
    border-top-color: #ffffff;
    animation: loading 1.5s linear infinite;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.723), rgba(199, 199, 199, 0));
    background-clip: padding-box, border-box;
}
  
@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

@keyframes show {
    to {
        opacity: 1;
    }
}