.menuBase {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    background: rgb(10, 10, 10);
    z-index: 4;
    transition: 0.5s;
    opacity: 0;
    animation: show 0.5s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gainsboro;
    font-family: sans-serif;
}

.menu {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 13px 0 0 0;
    background: rgba(13, 13, 13, 0.523);
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 13px;
}

.menu > button {
    color: gainsboro;
    font-size: 21px;
    background: none;
    border: none;
    margin: 8px;
    margin-left: 13px;
}

.logo {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 500px;
}

@keyframes show {
    to {
        opacity: 1;
    }
}