.textPreLoadingWindowText {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    background: rgb(10, 10, 10);
    z-index: 4;
    transition: 0.5s;
    opacity: 0;
    animation: show 0.5s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    color: gainsboro;
    font-size: 18px;
    width: 900px;
    text-align: justify;
    font-family: sans-serif;
    margin: 5px;
}

.loading-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid #3498db79;
    border-top-color: #3498db;
    animation: loading 1.5s linear infinite;
    background-image: linear-gradient(to bottom, rgba(52, 152, 219, 0.723), rgba(52, 152, 219, 0));
    background-clip: padding-box, border-box;
}
  
@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

@keyframes show {
    to {
        opacity: 1;
    }
}