.apresentation {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    background: rgba(1, 1, 1, 0.863);
    z-index: 4;
    transition: 0.5s;
    opacity: 0;
    animation: show 0.5s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.header > h1 {
  color: gainsboro;
  text-shadow: 4px 5px 5px black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.user {
  display: flex;
  flex-direction: row;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-right: 13px;
  text-transform: uppercase;
  color: gainsboro;
  text-shadow: 2px 2.5px 5px black;
}

.user-info > h2 {
  text-align: end;
  line-height: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.user > img {
  object-fit: cover;
  margin-top: 2px;
  border-radius: 2px;
  height: 70px;
  width: 70px;
}

.btn {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: rgba(10, 10, 10, 0.6);
    margin: 2px;
    font-size: 16px;
    font-weight: 500;
    color: gainsboro;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
  }

  .btn-clicked {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: rgba(10, 10, 10, 0.6);
    margin: 2px;
    font-size: 16px;
    font-weight: 500;
    color: gainsboro;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    background-color: gainsboro;
    color: rgb(10, 10, 10);;
    font-weight: 700;
    border-top: 7px solid #3E8E41;
  }

  .bottom-interface-content {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
  }

  .no-button {
    display: flex;
    flex-direction: row;
    margin-top: 13px;
  }

  .menu-btn-sec {
    display: flex;
    flex-direction: column;
  }

  .btn-sec {
    position: relative;
    display: inline-block;
    width: 403px;
    height: 40px;
    background-color: rgba(10, 10, 10, 0.6);
    margin: 2px;
    font-size: 16px;
    font-weight: 500;
    color: gainsboro;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
  }

  .btn-sec:focus {
    background-color: gainsboro;
    color: rgb(10, 10, 10);;
    font-weight: 700;
  }

  .data-content {
    margin-left: 3px;
    background-color: rgba(10, 10, 10, 0.6);
    width: 812px;
    height: 500px;
  }

  .data-content-title {
    position: relative;
    margin: 5px 4%;
    margin-top: 13px;
    margin-bottom: 0;
    font-size: 40px;
    height: min-content;
    font-weight: 900;
    color: gainsboro;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .data-content-text {
    font-size: 21px;
    width: 92%;
    height: max-content;
    margin: 0 4%;
    margin-top: 5px;
    margin-bottom: 21px;
  }

  .back {
    position: absolute;
    z-index: 3;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
  }

  .scroll-content {
    height: 500px;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    scroll-behavior: auto;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(220, 220, 220, 0);
  }
  
  /* Estiliza o "polegar" da barra de scroll */
  ::-webkit-scrollbar-thumb {
    background-color: #3E8E41;
    border-radius: 5px;
  }
  
  /* Muda a cor do polegar da barra de scroll quando está "em hover" */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #3E8E41;
  }

  .scroll-change {
    width: 100%;
  }

  